@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #f7f7f7;
  font-family: 'Roboto Mono', monospace;
  color: #3b5998;
  font-size: 12px;
  width: 200px;
  height: 100px;
}

#popup {

}

#about {
  color: #8b9dc3;
}

h1 {
  font-size: 15px;
  font-weight: 600;
}
