<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fuzzify.me - Options</title>
    <style>
    #options-container {
        padding: 5px 10px;
    }

    #cleanNotif {
        width: 4em;
    }

    #options-container > div {
        margin: 30px 0;
    }
    </style>
</head>

<body>
    <div id="options-container">
        <h3></h3>
        <div>
            <p id="notif-label"><label for="cleanNotif"></label></p>
            <input type="number" id="cleanNotif" step="1" min="1" max="100" name="cleanNotif">
        </div>
        <div>
            <p id="lang-label"></p>
            <div>
                <input type="radio" id="en" name="lang" value="en">
                <label for="en">English</label>
            </div>
            <div>
                <input type="radio" id="pt" name="lang" value="pt">
                <label for="pt">Português</label>
            </div>
        </div>
        <button id="updateOption"></button>
    </div>
    <script src="../js/options.js"></script>
</body>

</html>