<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fuzzify.me - Options</title>
    <style>
    #options-container {
        padding: 5px 10px;
    }
    #cleanNotif {
        width: 4em;
    }
    </style>
</head>

<body>
    <div id="options-container">
        <h3>Options</h3>
        <p>
            <input type="number" id="cleanNotif" step="1" min="0" max="100"> Interval (in days) to remind you to clean your preferences
        </p>
        <p style="display: none">
            <input type="checkbox" id="cleanAlert"> Enable alerts to remind you to clean your preferences
        </p>
        <button id="updateAlarmOption">Save</button>
    </div>
    <script src="../js/options.js"></script>
</body>

</html>