$baseU: 10;
$w: #FFFFFF;
$b: #000000;
$green: #00FF80;
$blue: #0080FF;
$blue2: #19E8FF;
$magenta: #FF00B1;
$yellow: #FFFF00;
$red: #e91e53;
$w2: #f5f5f5;
$purple: #4e3677;
$pink: #d992f2;
$baseFontSize: 12;
$fontFamily: "Menlo",
monospace;

body {
    background-color: $w2;
    color: $b;
    font-family: $fontFamily;
    font-weight: 100;
    line-height: 1.4em;
    font-size: $baseFontSize + px;
    margin: 0;
}

p {
    padding: 0;
    margin: 2px 0;
    line-height: 1.5em;
    white-space: pre-line;
}

button {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.warning {
    color: $red;
}

#container {
    min-width: 300px;
}

#sidebar {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    padding: 10px 20px;
    width: 280px;
    height: 100vh;
    background-color: $w;
    border-right: 3px solid $purple;
    overflow: auto;
    img {
        width: 26px;
        position: relative;
        top: 4px;
    }
    h1 {
        margin: 0 0 0 8px;
        padding: 0;
        display: inline-block;
        color: $purple;
    }
    p {
        margin: 15px 0;
    }
    #adspref {
        background-color: $purple;
        color: #fff;
        padding: 10px;
    }
    a,
    button {
        color: $magenta;
        text-decoration: none;
        border: none;
        padding: 0;
        font-size: 1em;
        font-family: $fontFamily;
        cursor: pointer;
        display: block;
    }
}

#toc {
    ul {
        width: 150px;
        list-style: none;
        padding: 0;
        li {
            padding: 0;
        }
    }
    a {
        display: inline-block;
    }
}

#content {
    position: relative;
    margin: 0 0 0 320px;
}

#stream {
    width: calc(100vw - 310px);
    .month {
        margin: 0 0 50px 0;
        &:before {
            content: "";
            width: 200%;
            height: 1em;
            border-top: 3px solid $purple;
            position: absolute;
            margin-left: calc(-200% - 10px);
            margin-top: 0.5em;
        }
    }
    .item,
    .clean {
        margin: 50px 0;
    }
    .item {
        background-color: $w;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        img {
            width: 100%;
        }
        .date {
            font-weight: bold;
        }
        .name {
            font-weight: bold;
        }
        .rationale,
        .rationale-pre {
            margin: 0;
            padding: 10px;
            background-color: #ddd;
            &:empty {
                padding: 0;
            }
        }
        .rationale-pre {
            margin: 20px 0 0 0;
            font-weight: bold;
            &:empty {
                margin: 0;
            }
        }
    }
    h1,
    h2 {
        color: $purple;
    }
    .clean {
        background-color: $pink;
        color: $w;
        padding: 10px;
        box-sizing: border-box;
        &:before {
            content: "";
            width: 200%;
            height: 1em;
            border-top: 3px solid $pink;
            position: absolute;
            margin-left: calc(-200% - 20px);
            margin-top: 0.5em;
        }
        h4 {
            margin: 0;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
    }
}

@media only screen and (min-width: 800px) {
    #stream {
        width: 500px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

#options-container {
    width: 500px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    button {
        padding: 5px 10px;
        margin: 10px 0;
        background-color: $purple;
        color: #fff;
        border: none;
    }
}

#loading {
    line-height: 1em;
}

.loading {
    animation: fade 1s linear infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}