#ads-overlay {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    width: 50%;
    height: 190px;
    background: linear-gradient(#fc177e, #fd6c6b);
    color: #FFFFFF;
    font-size: 1.2em;
    opacity: 0.9;
}

#ads-overlay h1 {
    font-size: 28px;
    color: #FFFFFF;
}

#ads-overlay p {
    margin: 10px 0;
}

#ads-overlay label {
    color: #EEEEEE;
    font-weight: normal;
    font-size: 1em;
}

#ads-overlay button {
    padding: 5px 10px;
    margin: 0 0 0 0 !important;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    background-color: #FFFFFF;
}

#ads-overlay button.low {
    background-color: #DDDDDD;
}

#start-clean {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#readd-content {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.action {
    background-color: #FFFFFF;
    color: #bbb;
}




.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #b7abaf;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}